* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */

}

body {
    font-family: 'Work Sans', sans-serif;

}

.banner-section {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    padding-top: 50px;
    height: 1120px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>h1 {
    font-weight: 700;
    font-size: 45px;
}

nav>ul {
    display: flex;
    height: 63px;
    align-items: center;
    gap: 40px;
}

nav>ul>li {
    list-style: none;
    font-size: 18px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
}

.banner {
    width: 100%;
    max-width: 862px;
    margin: 150px auto;
    text-align: center;

}

.banner>h1 {
    font-weight: 700;
    font-size: 64px;
    width: 100%;

}

.banner>p {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
    line-height: 26px;


}

.btn {
    margin: 40px 0px;
}

.btn-primary {
    background: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 20px;
}

.banner-image {
    width: 70%;
    height: 700px;
    margin: -70px auto;
}

.banner-image img {
    width: 100%;
}

.container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: end;
    align-items: center;




}

.hero-section {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.hero-image-container img {
    width: 300px;
}

.hero-section-content {
    width: 500px;
    margin: 0px 40px;

}

.hero-section-content>h1 {
    font-weight: 500;
    font-size: 45px;
}

.hero-section-content>p {
    font-size: 16px;
    padding-top: 24px;
    font-weight: 400;
    color: #727272;
}


/* business section  */
.business-section {
    width: 100%;
    max-width: 1300px;
    display: flex;
    /* justify-content: center; */
    margin: 0px auto;
    align-items: center;
    gap: 100px;

}

.horizon{
    border-left: 5px solid #FF900E;
 
}
.business-section-content {
    width: 390px;
   
}

.business-section-content>h1 {
    font-weight: 700;
    font-size: 45px;
    
}

.business-section-content>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 24px 0;
}



.business-card-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    /* margin-bottom: 200px; */

}

.business-card {
    width: 450px;
    height: 150px;
    box-shadow: 10px 10px 5px 0px rgba(232, 221, 221, 0.8);
    border-radius: 5px;

}

.business-card h1 {
    font-weight: 600;
    font-size: 20px;
}

.business-card>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.business-card-content {
    padding: 30px 30px;
}

.business-image img {
    width: 500px;

}

.position-btn {
    position: relative;
    bottom: 72px;
    right: 55px;
}

.business-btn {
    background-color: #FF900E;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;
    font-size: 35px;
    font-weight: 700;
}

.facts {
    width: 75%;
    margin: 130px auto;
}

.facts>h1 {
    font-weight: 700;
    font-size: 45px;
}

.facts>p {
    font-weight: 400;
    font-size: 16px;
    width: 50%;
}



.success-container {
    display: flex;
    justify-content: space-around;
}

.success-element {
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: width 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success-content>h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.success-content>p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

.success-element:hover {
    width: 300px;
    height: 300px;
    /* transform: rotate(90deg); */

}

.sponsors-content {
    text-align: center;
    margin-top: 170px;
    margin-bottom: 50px;
}

.sponsors-content>h1 {
    font-weight: 700;
    font-size: 45px;
}

.sponsors-content>p {
    font-weight: 400;
    font-size: 16px;
    width: 40%;
    margin: 5px auto;
}

.sponsors-area {

    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    width: 80%;

    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto;
    width: 80%; */
}

footer {
    background: #FFF4E7;
    padding: 39px 0px;
    width: 100%;
    max-width: 800px;
    margin: 130px auto;
}

.footer-content>p {
    text-align: center;
    font-size: 20px;
    color: #424242;
    font-weight: 400;
}

/**************** responsive section **************** */
@media only screen and (max-width:688px) {
    .banner-section {
        height: 980px;
    }

    .header-content {
        flex-direction: column;
    }


    .hero-section-content {
        text-align: center;
        width: 400px;
    }

    .hero-section {

        flex-direction: column;
    }

    .hero-image-container {
        grid-template-columns: repeat(1, 1fr);


    }

    .container {
        margin-top: 400px;
        width: 100%;
        justify-content: center;
    }

    .facts {
        width: 70%;
        text-align: center;
    }

    .facts>p {
        width: 100%;
    }





.success-container {
    flex-direction: column;
    gap: 45px;
    /* margin-top: 400px; */
    align-items: center;
}

.sponsors-area {

    flex-direction: column;
    align-items: center;
    gap: 45px;

}

.sponsors-area img {
    width: 200px;

}

.business-section {
    flex-direction: column;
    margin-top: 300px;
}

.business-section-content {
    text-align: center;
}

.business-image img {
    width: 400px;
}


}




/***********************
 For Tab device 
 ************************ */

@media only screen and (min-width:689px) and (max-width:992px) {
    .banner-section {
        height: 980px;
    }

    .hero-section {

        flex-direction: column;
    }

    .hero-section-content {
        text-align: center;
        margin: auto;
    }

    .hero-image-container {
        grid-template-columns: repeat(2, 1fr);


    }

    .business-section {
        flex-direction: column;
        margin: 0px 0px;
    }

    .facts {
        width: 70%;
        text-align: center;
    }

    .facts>p {
        width: 100%;
        margin-top: 20px;
    }

    .success-container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .container {
        margin: 30px 0px;
        justify-content: center;
        /* width: 750px; */
    }

    .sponsors-area {
        flex-wrap: wrap;
        gap: 45px;
    }

    .business-image img {
        width: 400px;

    }

    /* .header-content{
        flex-direction: column;
    } */
    /* body{
        background-color: aqua;
    } */
}

/**************** 
* For Smaller Device like samsung s10,s20,pixel 3 ETC
 ********** */

@media only screen and (max-width:400px) {
    .banner-section {
        height: 800px;
    }

    header>h1 {
        font-weight: 700;
        font-size: 35px;
    }

    nav>ul>li {
        list-style: none;
        font-size: 12px;
    }

    .banner>h1 {

        font-size: 35px;

    }

    .hero-section-content {
        text-align: center;
        width: 300px;
    }

    .business-card {
        width: 350px;
    }

    .business-image img {
        width: 300px;

    }

    .business-section-content{
        width: 250px;
    }
    .business-section-content>h1 {
        font-size: 25px;
    }

    .business-section-content>p {
        font-size: 12px;
    }

    .position-btn {

        right: 40px;
    }

    .footer-content>p {
        font-size: 14px;

    }
}